<% @user = User.find_by_id(comment.user_id) %>
<div class="comment">
<div class="comment_name"><%= @user.name.blank? ? "" : @user.name %></div>
<div class="comment_content">
<%= auto_link( comment.content, :html => { :target => '_blank' } ) %><br/>
<div class="comment_timestamp">
<span class="de-em text-75">Added <%= time_ago_in_words(comment.created_at) %> ago · 
  <%= form_for @reply,
		:url => new_reply_path,
		:html => { :style => "display:inline;" },
		:remote => true  do |f| %>
	<%= f.hidden_field :user_id, :value => @user.id %>
	<%= f.hidden_field :comment_id, :value => comment.id %>
	<%= image_submit_tag("reply.png",
						 :onmouseover => "this.src='" + image_path('reply_hover.png') + "';",						
						 :onmouseout => "this.src='" + image_path('reply.png') + "';") %>
  <% end %>
</span>
  <% if current_user.admin? || comment.created_by?(current_user) %>
	<span class="de-em">
    <%= link_to "delete", comment, :class => "text-75", :method => :delete,
								   :confirm => "You sure?", :title => "Delete comment?" %>
	</span>
  <% end %>
</div>
</div>
<div id="reply_div_<%= comment.id %>"></div>
<%= render comment.replies %>
</div>
