<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.hidden_field :stack_id, :value => @stack.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :content,
	:class => "comment_content round",
	:style => "color:lightgray;",
	:value => "Got a  helpful nugget to share? Join the discussion.",
	:onfocus => "if (this.value.substring(0,3) == 'Got')
					{this.value='';this.style.color = 'black';this.style.height = '50px';}; unhide('submit_comment_div');",
	:onKeyPress => "return imposeMaxLength(this,2000,150,'250px');",
	:onblur => "return imposeMaxLengthPaste(this,2000);"
  %>

  <div class="actions">
	<div id="submit_comment_div" class="hidden">
	<%= fields_for(:user) do |u| %>
	<% if current_user.email.blank? %>
		<%= fields_for(:user) do |u| %>
		<%= u.label :email %> <%= u.text_field :email, :value => current_user.email %> <span class="de-em text-75">to be notified of replies to your post (optional)</span>
		<br/>
		<% end %>
	<% end %>	
	<%= u.label :name %>
	<%= u.text_field :name,
					 :id => "post_name",
					 :value => current_user.name.blank? ? "" : current_user.name,
					 :class => current_user.name.blank? ? "prefill_form" : "",
					 :title => "Stack answers are always anonymous but info sharing works best between real folks, so let your neighbors know who's speaking.",
					 :onfocus => "this.style.color = 'black'; if (this.value == '') {this.value='';};" %>
	<% end %>
	<%= f.submit "Post",
	  :class => "form_button round2px",
	  :style => "display:inline; margin-left:20px; width:50px; margin-top:0;",
	  :onmouseover => "this.style.background = '#0070d5';", :onmouseout => "this.style.background = '#0088ce';" %>
	<div style="line-height:10px;">&nbsp;</div>
	</div>
  </div>
</div>
