<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.hidden_field :stack_id, :value => @stack.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="smallshadow round" style="padding: 5px 10px 5px 10px;">
  <%= f.text_area :content,
	:class => "comment_content",
	:style => "color:lightgray",
	:value => "Add your comment...",
	:onfocus => "if (this.value.substring(0,8) == 'Add your') {this.value='';this.style.color = 'black';this.style.height = '50px';}; unhide('submit_comment_div')"
  %>
	<div class="actions">
	<div id="submit_comment_div" class="hidden"><%= f.submit "Add Comment", :class => "form_button round" %></div>
	</div>
  </div>
</div>
