<% @user = User.find_by_id(comment.user_id) %>
<div class="comment">
<div class="comment_name"><%= @user.name.blank? ? "" : @user.name %></div>
<div class="comment_content">
<%= auto_link( comment.content, :html => { :target => '_blank' } ) %><br/>
<div class="comment_timestamp">

<%= render 'comments/comment_reply', :comment => comment %> ·
<%= render 'comments/comment_vote', :comment => comment %>
<%= render 'comments/comment_timestamp', :comment => comment %>

  <% if current_user.admin? || comment.created_by?(current_user) %>
	<span class="de-em"> ·
    <%= link_to "delete", comment, :class => "text-75", :method => :delete,
								   :confirm => "You sure?", :title => "Delete comment?" %>
	</span>
  <% end %>
</div>
</div>
<div id="reply_div_<%= comment.id %>"></div>
<%= render comment.replies %>
</div>
