<div id="vote_button_div_<%= comment.id %>" class="inline">
<% if comment.votes.count > 0 %>
  <%= image_tag "thumbsup.png",
		:id => "thumbsup" + comment.id.to_s,
		:title => pluralize( comment.votes.count.to_s, "person" ) + " voted this up." %>
<% else %>
<%= image_tag "thumbsup.png" %>
<% end %>

<% if current_user.voted_for( comment.id ) %>

<%= pluralize comment.votes.count, "nod" %>

<% else %>

<div id="vote_div_<%= comment.id %>" class="vote_tally round"><%= pluralize comment.votes.count, "nod" %>
·
<%= form_for @vote,
		:html => { :style => "display:inline;" },
		:remote => true do |f| %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :comment_id, :value => comment.id %>
	<%= link_to '^ Nod Up'.html_safe, "#", :onclick=>"$(this).submit()", :class => "comment_link", :remote => true %>
<% end %>

</div>

<% end %>
<% if current_user.admin? %>
  <% @user_vote = comment.votes.find_by_user_id(current_user.id) %>
  <%= link_to "·", @user_vote, :class => "undecorated", :method => :delete,
								   :confirm => "Remove vote?", :title => "Confirm" %>
<% else %>
·
<% end %>
</div>