<% @user = User.find_by_id(comment.user_id) %>
<div class="comment">
<div class="comment_content">
<%= comment.content %><br/>
</div>
</div>
<div class="comment_callout"><%= image_tag "comment_callout.png" %></div><span class="de-em text-75">Added <%= time_ago_in_words(comment.created_at) %> ago<%= @user.name.blank? ? "" : " by <strong>".html_safe + @user.name + "</strong>".html_safe -%>.</span>
  <% if current_user.admin? || comment.created_by?(current_user) %>
	<span class="de-em">
    <%= link_to "delete", comment, :class => "text-75", :method => :delete, :confirm => "You sure?",
                                	:title => "Delete comment?" %>
	</span>
  <% end %>
<div style="line-height:12px;">&nbsp;</div>