<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label "Name" %><br/>
  <%= f.text_field :name %><br/>
  <%= f.label "Question" %><br />
  <%= f.text_field :question %><br/>
  <%= f.label "Stem" %><br />
  <%= f.text_field :stem %><br/>
  <%= f.label "Stack of the Day" %><br />
  <%= f.text_field :sotd %><br/>
  <%= f.label "Madlibs Intro" %><br />
  <%= f.text_field :madlibs_intro %><br/>
  <%= f.label "Madlibs Label" %><br />
  <%= f.text_field :madlibs_label %><br/>
  <%= f.label "Madlibs Units" %><br />
  <%= f.text_field :madlibs_units %><br/>
  <%= f.label "Biggest Description" %><br />
  <%= f.text_field :attr_biggest_desc %><br/>
  <%= f.label "Lowest Description" %><br />
  <%= f.text_field :attr_lowest_desc %><br/>
  <%= f.label "Lowest Legend" %><br />
  <%= f.text_field :attr_lowest_legend %><br/>
  <%= f.label "Comparison Text" %><br />
  <%= f.text_field :attr_comparison_text %><br/>
  <%= f.label "Email Buttons" %><br />
  <%= f.text_field :attr_email_buttons %><br/>
  <%= f.label "Email Units" %><br />
  <%= f.text_field :attr_email_units %><br/>
</div>
