<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <%= f.label "Name" %><br/>
  <%= f.text_field :name, :size => "100" %><br/>
  <%= f.label "Question" %><br />
  <%= f.text_field :question, :size => "100" %><br/>
  <%= f.label "Stem" %><br />
  <%= f.text_field :stem, :size => "100" %><br/>
  <%= f.label "Stack of the Day" %><br />
  <%= f.text_field :sotd, :size => "100" %><br/>
  <%= f.label "Madlibs Intro" %><br />
  <%= f.text_field :madlibs_intro, :size => "100" %><br/>
  <%= f.label "Madlibs Label" %><br />
  <%= f.text_field :madlibs_label, :size => "100" %><br/>
  <%= f.label "Madlibs Units" %><br />
  <%= f.text_field :madlibs_units, :size => "100" %><br/>
  <%= f.label "Biggest Description" %><br />
  <%= f.text_field :attr_biggest_desc, :size => "100" %><br/>
  <%= f.label "Lowest Description" %><br />
  <%= f.text_field :attr_lowest_desc, :size => "100" %><br/>
  <%= f.label "Lowest Legend" %><br />
  <%= f.text_field :attr_lowest_legend, :size => "100" %><br/>
  <%= f.label "Comparison Text" %><br />
  <%= f.text_field :attr_comparison_text, :size => "100" %><br/>
  <%= f.label "Email Units" %><br />
  <%= f.text_field :attr_email_units, :size => "100" %><br/>
  <%= f.label "Email Message" %><br />
  <%= f.text_area :attr_email_message %><br />
  <%= f.label "Email Buttons" %><br />
  <%= f.text_area :attr_email_buttons %><br/>
</div>
