<div class="create_stack medshadow round grey">

<div class="breadcrumbs">
<%= link_to "Stacks", "#stacks", :rel => "facebox" %> > Create Your Own Stack
</div>

<table>
  <tr>
	<td class="create_stack_left">
		<%= form_tag "/stack_request" do %>
		<div class="field">
		  <%= hidden_field "request", "from_id", :value => current_user.id %>
		  <div class="step_header">1. Choose Your Stack Type</div>
		  <div>
		  <%= select_tag "request[stem]", options_for_select([
			['How much...'],
			['How many...'],
			['How often...'],
			['When...'],
			['At what age...'],
			['Other']
			]),
			{ :style => "font-size:2em; margin-left:20px;"} %>
		  </div>
		  <br/>
		  <div class="step_header">2. Enter Your Question</div>
		  <div class="de-em text-75">Type in your specific stack question just as you'd ask it to a neighbor.</div>
		  <%= text_area "request", "message",
			:class => "create_stack round",
			:style => "color:lightgray",
			:value => "Type your full stack question here...",
			:onfocus => "if (this.value.substring(0,4) == 'Type') {this.value='';this.style.color = 'black';this.style.height = '50px';}; unhide('submit_comment_div')"
		  %>
		  <br/>
		  <div class="step_header">3. Enter Your Email</div>
		  <div class="de-em text-75">We'll send you an alert when your stack is approved along with some handy instructions for sharing with your friends.</div>
		  <%= text_field "request", "from_email", :value => current_user.email, :size => 50 %>
		  <%= submit_tag "Submit Stack Request", :class => "form_button round" %>
		  <br/>
		</div>
		<% end %>
	</td>
	<td>
	  <div class="stk_section_header">Sample Questions</div>
	  <ul class="stack_list">
		<li><span class="de-em">How much do you pay your babysitter?</span></li>
		<li><span class="de-em">At what age did you or do you plan to give your child a cell phone?</span></li>
		<li><span class="de-em">How many hours of nightly homework for your child?</span></li>
	</td>
  </tr>
</table>
</div>
<br/>