<div class="create_stack medshadow round grey">

<div class="breadcrumbs">
<%= link_to "Stacks", "#stacks", :rel => "facebox" %> > Create Your Own Stack
</div>

<table>
  <tr>
	<td class="create_stack_left">
		<%= form_tag "/stack_request" do %>
		<%= render 'shared/error_messages', :object => @stack %>
		<div class="field">
		  <%= hidden_field "request", "from_id", :value => current_user.id %>
		  <%= select_tag "request[stem]", options_for_select([
			['Choose a stack type (how much, how many, etc.)'],
			['How much...'],
			['How many...'],
			['At what age...']
			]) %><br/>
		  <div class="de-em text-75">We're all about numbers-based comparison here at StkUp, so tell us which kind of number question you want to ask.</div><br/>
		  <%= text_area "request", "message",
			:class => "create_stack round",
			:style => "color:lightgray",
			:value => "Type your full stack question here...",
			:onfocus => "if (this.value.substring(0,4) == 'Type') {this.value='';this.style.color = 'black';this.style.height = '50px';}; unhide('submit_comment_div')"
		  %>
		  <%= label_tag :email %> <%= text_field "request", "from_email", :value => current_user.email %>
		  <%= submit_tag "Submit Stack Request", :class => "form_button round" %>
		  <br/>
		  <div class="de-em text-75">We'll send you an alert when your stack is approved along with some handy instructions for sharing with your friends.</div>
		</div>
		<% end %>
	</td>
	<td>
	  <%= render 'shared/view_stacks' %>
	</td>
  </tr>
</table>
</div>
<br/>