<%= render 'layouts/hc_script' %>

<div class="above_the_fold medshadow round grey">

<%= render 'shared/breadcrumbs' %>

<table>
  <tr>
	<td class="stk_col_left grey">
	  <div id="hc" class="hc round medshadow"></div>
	  <%= render 'layouts/comparison' %>
	</td>
	<td class="atf_right grey">
	  <%= render 'layouts/share'  %><br/>
	  <%= render 'layouts/signup_form' %>
	</td>
  </tr>
</table>
</div>

<div class="below_the_fold">
<table>
  <tr>
	<td class="stk_col_left">
	  <div class="stk_section"><%= render 'comments/comments_section' %></div>
	</td>
 	<td class="stk_col_right">
	  <div class="stk_section"><%= render 'shared/view_stacks' %></div>
	  <div class="stk_section"><%= render 'layouts/feedback' %></div>
	</td>
  </tr>
</table>
</div>

