<%= render 'layouts/hc_script' %>

<div class="above_the_fold medshadow round hey">

<div class="breadcrumbs">
	<%= render 'shared/breadcrumbs' %>
	<%= render 'shared/fb_like' %>
</div>

<p style="line-height:1em;">&nbsp;</p>

<table>
  <tr>
	<td class="atf_left hey">
	  <div class="round medshadow">
		<div id="loading"><%= image_tag "ajax-loader.gif" %></div>
		<div id="hc" class="hc"></div>
		<div class="chart_filter"><%= render 'layouts/chart_filter' %></div>
	  </div>
	  <%= render 'layouts/chart_footer' %>
	</td>
	<td class="atf_right hey">
	  <%= render 'layouts/share' %>
	  <%= render 'layouts/create_a_stack' %>
	  <%= render 'layouts/signup_form' %>
	</td>
  </tr>
</table>
</div>

<div class="below_the_fold">
<table>
  <tr>
	<td class="btf_left">
	  <div class="stk_section"><%= render 'comments/comments_section' %></div>
	</td>
 	<td class="btf_right">
	  <div class="stk_section"><%= render 'shared/view_stacks', :divid => "view_stacks_btf" %></div>
	</td>
  </tr>
</table>
</div>
