<tr>
  <td><%= link_to user.id, user %></td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= user.zipcode %></td>
  <td><%= user.subscribed %></td>
  <td><%= link_to user.responses.count, user %></td>
  <td>
  <!-- Ajax version not working - removed , :remote => true do |f|-->
  <!-- <%= form_for user, :html => { :method => :toggle_admin } do |f| %>
    <%= f.submit "Toggle Admin", :class => "toggle_admin_button" %>
  <% end %> -->
  <%= form_for user, :html => { :method => :toggle_admin } do |f| %>
  <span id="toggle_admin<%= user.id %>" class="toggle_admin">
  <% if user.admin? %>
	<%= image_submit_tag("toggle_yes.png", :name => "yes", :height => "18px") %>
  <% else %>
	<%= image_submit_tag("toggle_no.png", :name => "no", :height => "18px") %>
  <% end %>
  <% end %>
  </span>
  </td>
  <td>
	<% if current_user.admin? || current_user.id == 1  %>
      <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
      | <%= link_to "edit", edit_user_path(user) %>
  <% end %>
  <% if user == current_user %>- You<% end %>
  </td>
</tr>

