<div class="padding_20px">
<h1>Edit User  <%= @user.id %></h1>
<%= pluralize(current_user.responses.count, "response") %>
<table>
  <tr>
	<td class="response_header">Rid</td>
	<td class="response_header">Uid</td>
	<td class="response_header">Topic</td>
	<td class="response_header">Value</td>
	<td class="response_header">Zipcode</td>
	<td class="response_header">Qualifier</td>
	<td class="response_header">Created At</td>
	<td class="response_header">Modified At</td>
	<td class="response_header"></td>
  <%= render @responses %>
</table>
<%= form_for(@user) do |f| %>
  <%= render 'user_form', :f => f %>
  <div class="actions">
	<%= f.submit "Update" %>
  </div>
<% end %>
</div>