<div class="padding_20px">
<div class="stk_section_header">Edit <%= @user.name.blank? ? "" : @user.name %> #<%= @user.id %>
(<%= pluralize(@user.responses.count, "response") %>)</div>

<%= form_for(@user) do |f| %>
  <%= render 'user_form', :f => f %>
  <div class="actions">
	<%= f.submit "Update" %>
  </div>
<% end %>
</div>