<div class="padding_20px">
<h1>All Users <span class="text-75">(<%= link_to "show ghosts", "/show_ghosts" %>)</span></h1>

<div class="digg_pagination" style="display:inline; font-size:80%; margin-left:10px"><%= page_entries_info @users %></div>
<div class="digg_pagination" style="display:inline; font-size:80%;"><%= will_paginate @users, :container => false %></div>
<table class="users text-75">
  <tr>
	<td>User ID</td><td>Community</td><td>Name</td><td>Email</td><td>Zipcode</td><td></td><td>Created</td><td>Responses</td><td>Admin</td><td></td>
  </tr>
  <%= render @users %>
</table>
<div class="digg_pagination" style="display:inline; font-size:80%; margin-left:10px"><%= page_entries_info @users %></div>
<div class="digg_pagination" style="display:inline; font-size:80%;"><%= will_paginate @users, :container => false %></div>
</div>