<div class="stk_section_header">View Other Stacks</div>
<div class="view_stacks">
<% if Stack.count > 1 %>
<% if session[:community] == 1 %>
<span
	onclick="toggleViewStacks('<%= divid %>');"
	onmouseover="this.style.color='#0088ce';"
	onmouseout="this.style.color='black';"><span id="<%= divid %>_arrow" style="color:#ccc;">▼</span> Parenting</span>
<% end %>
<div id="<%= divid %>">
<ul class="stack_list">
<!-- <%= render community_stacks(session[:community]), :omit_stack => @stack, :stack_detail => false %> -->
<!-- TODO: Following line should display TOP 3, not just ANY 3 as it does currently, and the controller code is messy -->
<%= render @view_other_stacks, :omit_stack => @stack, :stack_detail => false %>

<%= link_to 'More questions...', stacks_path, :class => "comment_link" %><br/><br/>

<% if !current_user.subscribed? %>
  <%= render 'layouts/create_a_stack' %>
<% end %>

</ul>
</div>
<% end %>

<% if current_user.admin? %>
<div style="width:100%; text-align:right;"><%= link_to "+", new_stack_path, :class => "subtle_link" %></div>
<% end %>
</div>
