<div class="responses">
<table style="width:250px">
<tr>
  <td class="response_header">Stack</td>
  <td class="response_header" style="text-align:right">Count</td>
  <td class="response_header">Last Response</td>
</tr>
<% @stacks.map do |stk| %>
<tr>
  <td><%= stk.name + " " %></td>
  <td style="text-align:right"><%= Response.count('stack_id', :conditions => "stack_id = #{stk.id}").to_s %></td>
  <td><span class="de-em text-75"><%= time_ago_in_words(stk.responses.last.updated_at) %> ago</span></td>
</tr>
<% end %>
<tr>
  <td class="response_header">Total</td>
  <td class="response_header" style="text-align:right"><%= @count %></td>
  <td></td>
</tr>
</table>

<table>
  <tr>
	<td class="response_header">Rid</td>
	<td class="response_header">Uid</td>
	<td class="response_header">Email</td>
	<td class="response_header">Name</td>
	<td class="response_header">Topic</td>
	<td class="response_header">Value</td>
	<td class="response_header">Zipcode</td>
	<td class="response_header">Qualifier</td>
	<td class="response_header">Created At</td>
	<td class="response_header">Modified At</td>
	<td class="response_header"></td>
  <%= render @responses %>
</table>
</div>