<% if @from_name != "" %>
<%= @from_name %>
<%- end -%>
<%- if @user_email != "" -%>
(<%= @user_email %>)
<% end %>
has shared a local resource with you:<br/>
<br/>
<%=raw @contact[:message].gsub("\n\r","<br />").gsub("\r", "").gsub("\n", "<br />") %>
<br/>
<br/>
<div style="font-size:150%; font-weight:bold;"><%= @stack.question %></div>

<%= render 'stk_buttons' %>
