<% if @from_name != "" %>
<%= @from_name %>
<%- end -%>
<%- if @user_email != "" -%>
(<%= @user_email %>)
<% end %>
has shared a local resource with you:<br/>
<br/>
<%=raw @contact[:message].gsub("\n\r","<br />").gsub("\r", "").gsub("\n", "<br />") %>
<br/>
<br/>
<div class="new_response_question"><%= @stack.question %></div>

<%= render 'layouts/stk_buttons' %>
