<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label "Community Name" %><br/>
  <%= f.text_field :name %><br/>
  <%= f.label "Description" %><br/>
  <%= f.text_field :desc %><br/>
  <%= f.label "Type" %><br/>
  <%= f.text_field :type %><br/>
  <%= f.label "Logo" %><br />
  <%= f.text_field :logo %><br/>
  <%= f.label "Icon" %><br />
  <%= f.text_field :icon %><br/>
</div>
