<% @empty = community.stacks.empty? %>
<div class="community_list_logo"><%= image_tag community.icon, :height => 50 %></div>
<div class="community_list_header">
	<div class="community_list_desc" style="font-size:150%;"><%= link_to community.name, community %></div>
	<div class="community_list_desc"><%= community.desc %></div>
	<span class="de-em text-75">Created <%= time_ago_in_words(community.created_at) %> ago<%= @empty ? "." : ", latest stack added " + time_ago_in_words(community.stacks.last.created_at) + "ago." %>
	  <% if current_user.admin? %>
	    <%= link_to "edit", edit_community_path(community) %> | 
	    <%= link_to "delete", community, :method => :delete, :confirm => "You sure?",
	                                	 :title => "Delete #{community.desc}" %>
	  <% end %>
	</span>
</div>
<div class="community_list_item">
<span class="community_list_item_count">
<% @response_count = Response.count(:conditions => ['stack_id in (select id from stacks where community_id=?)', community.id]) %>
<%= @response_count %></span>
<span class="community_list_item_desc"><%= pluralize( @response_count, "response" ).split(" ")[1] %></span>
</div>
<div class="community_list_item">
<span class="community_list_item_count"><%= community.stacks.count %></span>
<span class="community_list_item_desc"><%= pluralize( community.stacks.count, "stack" ).split(" ")[1] %></span>
</div>
<div class="community_list_item">
<span class="community_list_item_count"><%= community.members.count %></span>
<span class="community_list_item_desc"><%= pluralize( community.members.count, "member" ).split(" ")[1] %></span>
</div>
<hr>