<div class="inner_container">
<div class="breadcrumbs" summary="Communities">
  <%= link_to "Communities", communities_path %> > <%= link_to @community.name, edit_community_path(@community) %>
</div>


<table class="stacks" summary="Stacks">
<% if @community.stacks.empty? %>
  <tr><td span=2>No Stacks.</td></tr>
</table>
<% else %>
  <tr><td>
	<div class="community_show_logo"><%= image_tag @community.icon, :height => "50" %></div>
  </td><td><%= image_tag @community.logo %><br/><%= @community.desc %></td><tr>
  <tr><td></td><td>
  <ul class="stack_list">
  </ul>
  </td></tr>
</table>
<%= render @stacks, :omit_stack => "", :stack_detail => true %>
<% end %>
<% if @users.nil? %>
No users in this Community.
<% else %>
<div class="digg_pagination" style="display:inline; font-size:80%; margin-left:10px"><%= page_entries_info @users %></div>
<div class="digg_pagination" style="display:inline; font-size:80%;"><%= will_paginate @users, :container => false %></div>
<table class="users text-75">
  <tr>
	<td>User ID</td><td>Community</td><td>Name</td><td>Email</td><td>Zipcode</td><td></td><td>Created</td><td>Responses</td><td>Admin</td><td></td>
  </tr>
  <%= render @users %>
</table>
<div class="digg_pagination" style="display:inline; font-size:80%; margin-left:10px"><%= page_entries_info @users %></div>
<div class="digg_pagination" style="display:inline; font-size:80%;"><%= will_paginate @users, :container => false %></div>
<% end %>
</div>
<br/>