<% if session[:qualifier] %>
	<%= form_for :stack,
				 :url => { :controller => "stacks", :action => :filter_qualifier },
				 :html => {:style => "display:inline;", :id => "filter_form"},
				 :remote => true do |s| %>
	<%= s.hidden_field :stack_id, :value => @stack.id %>
	<% if session[:apply_filter_qualifier] %>
	  <span class="current_filter"><%= session[:qualifier] %></span> •
	  <%= link_to "show all", "#",
			:onclick=>"$(this).submit();",
			:class => "filter_link",
			:id => "filter_link",
			:remote => true %>
	<% else %>
	  <%= link_to raw("show «<strong>" + session[:qualifier] + "</strong>» only"), "#",
			:onclick=>"$(this).submit();",
			:class => "filter_link",
			:id => "filter_link",
			:remote => true %>
	<% end %>
  <% end %>
	• 
<% end %>
<% if @user.zipcode %>
  <%= link_to raw("show «<strong>" + @user.zipcode.to_s + "</strong>» only"), "#",
	  :id => "hc_filter", :title => "Zip and other filters coming soon.",
	  :class => "filter_link_inactive",
	  :disabled => true,
	  :remote => true %>
<% end %>
