<% if !current_user.subscribed? %>
<div class="signup_form">
<%= form_for @user,
	:html => { :name => "signup",
		   	   :onsubmit => "return validateEmailInSignup(signup)" } do |u| %>
<%= u.hidden_field :subscribed, :value => "true" %>
<%= u.text_field :email, 
				 :value => current_user.email.blank? ? "Your Email Address" : current_user.email,
				 :class => "signup_text round",
				 :onfocus => "this.style.color = 'black'; this.style.borderColor = 'black'; if (this.value == 'Your Email Address') {this.value='';}; unhide('submit_div')" %>
<%= submit_tag "Get the Weekly Stack", :class => "atf_button_signup round2px", :id => "atf_button_signup",
		:onmouseover => "changeColor(this.id, '#e43e42');",
		:onmouseout => "changeColor(this.id, '#b93033');" %>
<!-- <%= image_submit_tag("signup.gif", :name => "signup") %> -->
<% end %>
</div>
<% end %>
