<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# ogheystack: http://ogp.me/ns/fb/ogheystack#">
  <meta property="fb:app_id"      content="240024852744401" /> 
  <meta property="og:type"        content="ogheystack:stack" /> 
  <meta property="og:image"       content="http://parenting-mvp.heroku.com/favicon.png" />
  <!-- The following is one of the ugliest lines of code I've ever written... -->
  <meta property="og:url"         content="<%= @stack.nil? ? "" : (@stack.id.nil? ? "" : stack_url(@stack)) %>" /> 
  <meta property="og:title"       content="<%= @stack.nil? ? "" : @stack.name %>" /> 
  <meta property="og:description" content="<%= @stack.nil? ? "" : @stack.question %>" /> 

  <title>Heystack | Local info to see how you stack up.</title>
  <link rel="shortcut icon" href="/favicon.ico" >
  <%= render 'layouts/js' %>
  <%= render 'layouts/stylesheets' %>

</head>
<body>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '370570312958945', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
  </script>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=370570312958945";
	fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <script type="text/javascript">
  function likeStack()
  {
      FB.api('/me/ogheystack:like' + '?stack=http://samples.ogp.me/370585046290805','post',
                  function(response) {
          if (!response || response.error) {
                  alert('Error occured');
          } else {
              alert('Post was successful! Action ID: ' + response.id);
              }
      });
  }
  </script>

  <div class="header_container shadow">
	<!--[if IE]><div class="content round darkgrey"><![endif]-->
	<%= render 'shared/header' %>
	<!--[if IE]></div><![endif]-->
  </div>
  <div class="container">
	<!--[if IE]><div class="content round"><![endif]-->
	<section class="round">
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
	  <%= yield %>
	</section>
	<!--[if IE]></div><![endif]-->
  </div>
  <div class="footer de-em text-75">
	<%= debug(params) if Rails.env.development? %>
	<%= session.inspect if Rails.env.development? %>
  </div>
<div id="hcdebug" class="hc"></div>

</body>
</html>
